<!DOCTYPE html>
<html lang="ko" xlmns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구 정보 수정</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <h2>[ 친구 정보 수정 ]</h2>
    <div>
        <a th:href="@{/}"><img th:src="@{/images/home.png}" alt="logo"></a>
    </div>

    <form th:action="@{/updateProc}" method="POST" th:object="${friendDTO}">
        <input type="hidden" name="friendSeq" th:field="*{friendSeq}">
        <label for="fname">
            이름:
            <input type="text" id="fname" name="fname" placeholder="이름입력" th:field="*{fname}">
            <span class="error" th:errors="*{fname}"></span>
        </label><br>
        <label for="age">
            나이:
            <input type="text" id="age" name="age" placeholder="나이입력" th:field="*{age}">
            <span class="error" th:errors="*{age}"></span>
        </label><br>
        <label for="phone">
            전화번호:
            <input type="text" id="phone" name="phone" placeholder="전화번호입력" th:field="*{phone}">
            <span class="error" th:errors="*{phone}"></span>
        </label><br>
        <label for="birthday">
            생년월일:
            <input type="date" id="birthday" name="birthday" th:value="*{birthday}">
            <span class="error" th:errors="*{birthday}"></span>
        </label><br>
        <label for="active">
            성향:
            <input type="radio" name="active" value="1" th:checked="*{active}">외향적
            <input type="radio" name="active" value="0" th:checked="not *{active}">내성적
        </label><br><br>

        <input type="submit" value="수정">
        <input type="reset" value="초기화">

    </form>
</body>

</html>